
# IdP Sample
# https://github.com/netsphere-labs/rails-openid-connect-idp-as/


default: &defaults
  # http://localhost:4000/.well-known/openid-configuration
  # 末尾に "/" は付けない
  issuer: http://localhost:4000

development: 
  <<: *defaults
  # Connect Op Sample 側で発行
  client_id: f714648330c6a5809395f40844c939ea
  client_secret: b9e106b37cecae805e02bbadd38b7210bd15aa5cbdac623b508ee46b03df8424
  redirect_uri: http://localhost:3030/auth/connect_op_sample/callback

test:
  <<: *defaults

production:
  <<: *defaults
  redirect_uri: https://connect-op.herokuapp.com/connect/google
