
# Google Cloud Platform
# https://console.cloud.google.com/
#   APIとサービス > 認証情報

default: &defaults
  # http://localhost:4000/.well-known/openid-configuration
  # 末尾に "/" は付けない
  issuer: http://localhost:4000

development: 
  <<: *defaults
  # Connect Op Sample 側で発行
  client_id: f714648330c6a5809395f40844c939ea
  redirect_uri: http://localhost:3030/auth/connect_op_sample_implicit/callback

test:
  <<: *defaults

production:
  <<: *defaults
  redirect_uri: https://connect-op.herokuapp.com/connect/google
