
# Google Cloud Platform
# https://console.cloud.google.com/
#   APIとサービス > 認証情報

development: &defaults
  # https://accounts.google.com/.well-known/openid-configuration
  issuer: https://accounts.google.com

  # Google API と完全に合わせる
  client_id: xxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxx.apps.googleusercontent.com
  #client_secret:   -- Implicit Flow では, secret を保存してはならない.
  redirect_uri: http://localhost:4000/auth/google/callback


test:
  <<: *defaults

production:
  <<: *defaults
  redirect_uri: https://connect-op.herokuapp.com/connect/google
