
# See https://e.developer.yahoo.co.jp/dashboard/

development: &defaults
  # https://auth.login.yahoo.co.jp/yconnect/v2/.well-known/openid-configuration
  issuer: https://auth.login.yahoo.co.jp/yconnect/v2

  client_id: xxxxxxxxxx
  #client_secret:   -- Implicit Flow では, secret を保存してはならない.
  redirect_uri: http://localhost:4000/auth/yahoojp/callback


test:
  <<: *defaults

production:
  <<: *defaults
  redirect_uri: https://connect-op.herokuapp.com/connect/google
